---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% for page in collections.sitemapPages %}
    <url>
        <loc>{{ page.data.canonical | cleanCanonical }}</loc>
        <lastmod>{{ page.inputPath | gitLastmod }}</lastmod>
        {% set alternates = collections.sitemapPages | translationAlternates(page.data.canonical) %}
        {% for alternate in alternates %}
        <xhtml:link rel="alternate" hreflang="{{ alternate.locale }}" href="{{ alternate.url }}" />
        {% if alternate.locale == i18n.defaultLocale %}<xhtml:link rel="alternate" hreflang="x-default" href="{{ alternate.url }}" />{% endif %}
        {% endfor %}
    </url>
{% endfor %}
</urlset>
